[submodule "thirdparty/tinyxml"]
	path = thirdparty/tinyxml
	url = git@github.com:vmayoral/tinyxml.git
[submodule "thirdparty/distorm"]
	path = thirdparty/distorm
	url = git@github.com:gdabah/distorm.git
[submodule "thirdparty/WTL"]
	path = thirdparty/WTL
	url = git@github.com:Win32-WTL/WTL.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = git@github.com:pybind/pybind11.git
